body {
  --Text-color-text: rgba(0, 0, 0, 0.88);
  --Text-color-text-secondary: rgba(0, 0, 0, 0.65);
  --Text-color-text-tertiary: rgba(0, 0, 0, 0.45);

  --Primary-color-primary: #1677ff;
  --Colors-orange-6: #fa8c16;
  --Colors-orange-3: #ffd591;
  --Colors-purple-6: #722ed1;
  --Colors-purple-3: #d3adf7;
  --Colors-green-6: #52c41a;
  --Colors-green-3: #b7eb8f;
  --Colors-cyan-6: #13c2c2;
  --Colors-cyan-3: #87e8d3;
  --Colors-geekblue-6: #2f54eb;
  --Colors-geekblue-3: #adc6ff;
  --Colors-red-1: #fff1f0;

  --Success-color-success-bg: #f6ffed;
  --Warning-color-warning-bg: #fffbe6;
  --Border-color-border: rgba(255, 255, 255, 0.2);
  --Border-color-border-secondary: #f0f0f0;
  --Border: 1px solid var(--Border-color-border);
  --Border-secondary: 1px solid var(--Border-color-border-secondary);

  --Background-color-bg-layout: #f5f5f5;
  --Background-color-bg-text-hover: rgba(0, 0, 0, 0.06);
  --Background-color-bg-text-active: rgba(0, 0, 0, 0.15);
  --control-item-bg-active: #e6f4ff;

  --Scroll-thubm-color: #888;
  --Scroll-thubm-color-hover: #555;
}
